button.button {
  display: inline-block;
  background: orangered;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 24px;
  text-align: center;
  border-radius: 20px 20px;
  cursor: pointer;
  margin-left: 14px;
  margin-top: 6px;
  &:hover {
    background: rgb(255, 60, 0);
  }
}
