.centeredLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  p {
    margin: 0px;
    padding: 0px;
  }
  .loadingIcon {
    font-size: 4rem;
  }
}
